body{
	  margin:0;
    padding: 0;
	  font-family: 'Ubuntu', sans-serif;
    font-weight: lighter; 
}

th{
    
    color:white;
}

.loginbox h2{
     margin-top: 10%; 
     text-align: center;
     text-transform: uppercase;
     font-size: 135%;
     font-weight: bold;
     text-decoration: underline;
     color:#23e2d2f0;
 }


table{
	position: center;

}

.assult{
    font-size: 100%;
	  margin-top: 10%;
	  margin-left: 3%;
   
   
}

.pssd{
     margin-top: 10px;
	   margin-left: 10%;
	   width:85%;
     overflow: hidden;
     font-size: 15%;
     background: white;
     display: block;
     border:2px solid white;
     padding: 5px 10px;
     outline: none;
     border-radius: 5px;
    
}

.pssd1{
	   margin-left: 10%;
	   margin-top: 10px;
	   width:85%;
     overflow: hidden;
     font-size: 15%;
     background: white;
     display: block;
     border:2px solid white;
     padding: 5px 10px;
     outline: none;
     border-radius: 5px;
     box-shadow: 2px 1px 2px #444;
}

.pssd input,.pssd1 input{
     outline: none;
     border:none;
     background: none;
     color: black;
     font-size: 15px;
     width: 100%;
     float: left;
     margin:0px ;
}

.pssd1:hover
{
   	border:2px solid tomato;
}

.loginbox
{
	width: 400px;
	height: 370px;
	background: rgb(0,0,0,.8);
	position:absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 15px;
	font-color: white;
}

.btn{
  margin-top: 19%;
  margin-left: 40%;
  border-radius: 5px;
  background-color:#2389f3;
  border: none;
  color:#ffff;
  font-size: 100%;
  padding: 4px 6px;
  width:50%;
  transition: all 0.5s;
  cursor: pointer;
  font-family:'Ubuntu', sans-serif;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn1{
    margin-top: 30%;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #2389f3;
    border: none;
    color:#ffff;
    text-align: center;
    font-size: 100%;
    padding: 4px 6px;
    width:70%;
    font-family:'Ubuntu', sans-serif;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-left: 25px;
}

.btn1:hover span:after {
  opacity: 1;
  left: 0;
}

.btn1:hover,.btn:hover{
     background-color: grey;
  
}

*{
  padding: 0;
  margin: 0;
}
  
  header{
  position:fixed;
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  background-image: url(../pic/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.header_menu{
  margin-top: 3px;
  position: fixed;
  margin-left: 4px;
  width: 99.5%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
}
.logo{
  width: 5%;
  float: left;
  margin-bottom: 5px;
}
.logo img{
  margin-left: 8px;
  height: 70px;
}
h1{
    position: fixed;
    margin-top: 40px;
    float: left;   
    margin-left: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
         
}
#iconbar{
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
}
#iconbar:hover{
  color: tomato;
}

.menu_list{
  height: 100px;
  width: 95%;
  top: 20%;
  position: absolute;
  text-align: right;
  padding-right: 50px;
  color: #fff;
  padding-right: 40px;
  transition: 1s;
}
.menu_list li{
  display: inline-block;
  padding: 10px 5px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 50px;
}
.menu_list li a{
      text-decoration: none;
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      border:2px ;
      border-radius: 5px;
      padding: 4px 15px;
}
.menu_list li a:hover{
  background: #2389f3;
}
.active{
   background:#2389f3;
}


#first{
  position: relative;
}
#second{
  position: absolute;
}


@media (max-width: 990px) {
  .logo{
    width: 100%;

     }
     h1{
      width: 100%;     
     }
    .header_menu{
      width: 99%;
     }
    .menu_list{
      width: 99.5%;
      text-align: center;
      background-color: blue; 
      top: 100%;
    }
}
@media (max-width: 840px){
  .logo{
    width: 100%;
  }
    .menu_list{
        background: rgba(0,0,0,0);
    }
    .menu_list ul{
        opacity: 0;
        visibility: hidden;
    }
    #iconbar{
      opacity: 1;
      visibility: visible;
    }
    .menu_list.responsive{
      width: 95%!important;
      height: 85vh!important;
      background-color: black;
      position: absolute;
      z-index: 11111;
    }
    
    .menu_list.responsive ul{
      opacity: 1;
      visibility: visible;
    }
    .menu_list.responsive ul li{
      margin-top:5%;
      float: none;
      display: block;
      text-align: center;
      padding: 25px 10px;
    }
   
} 


















